<div class="content">
    <h3><span class="material-symbols-outlined">explore</span>FLOCK</h3>


    <div class="section">
        <p class="lead">
        Connect with the people that matter
        </p>
    </div>
    <div class="divider"></div>
    <div class="section">
        <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i>Login In With Google
        </a>
    </div>
</div>