p{
    margin: 10px o !important;
}

body{
    background-color: rgb(87, 85, 85);
}

.login-container{
    width: 400px;
    margin-top: 50px;
    text-align: center;
}

.card{
    border-radius: 10px;
}
